.everyoneConsole {
    background-color: black;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    min-height: 18em;
    max-height: 18em;
    display: flex;
    flex-direction: column-reverse;
    border-color: #b8bcc2;
    border-width: 0.25em;
    border-style: solid;
    overflow: hidden;
    position: fixed;
    bottom: 1em;
    min-width: 50em;
    max-width: 50em;
}

.midi_interfaces {
    float: right;
    display: absolute;
    position: fixed;
    top: 5em;
    right: 5em;
}

body {
    background-color: black;
    color: white;
}

.stage {
    background-image: url("./background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 60em;
    min-height: 25em;
    margin-left: 40em;
    margin-right: auto;
}

.scoreWrapper {
    bottom: 1em;
    left: 70em;
    position: fixed;
    min-height: 18em;
    max-height: 18em;
    min-width: 6000px;
    overflow: hidden;    
}

.score {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    /*display: none;*/
}

.light {
    width: 500px;
    height: 500px;
    line-height: 100px;
    mix-blend-mode: lighten;
    margin-left: -450px;
    color: white;
    text-align: center;

    float: left;
    /*margin-top: 10em;*/
    opacity: 0.9;
    border-radius: 50%;    
}

.redLight {
    background: rgb(216, 146, 120);
    background: radial-gradient(circle, rgba(234, 255, 206, 0.80) 3%, rgba(216, 146, 120, 0.8) 16%, rgba(150, 45, 25, 0.28895308123249297) 95%);
    margin-left: -100px;
}

.greenLight {
    background: rgb(234, 255, 206);
    background: radial-gradient(circle, rgba(234, 255, 206, 1) 3%, rgba(5, 255, 88, 1) 16%, rgba(0, 255, 76, 0.28895308123249297) 95%);
}

.blueLight {
    background: rgb(206, 234, 255);
    background: radial-gradient(circle, rgba(206, 234, 255, 1) 3%, rgba(78, 237, 249, 1) 16%, rgba(0, 125, 255, 0.28895308123249297) 47%);
}

.whiteLight {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(206, 234, 255, 1) 2%, rgba(175, 175, 175, 0.75) 16%, rgba(206, 234, 255, 0.28895308123249297) 47%);
}

.stageShadow {
    min-width: 60em;
    min-height: 25em;
    background: rgba(0, 0, 0, 1);
    opacity: 0.75;
}