.everyoneConsole {
	background-color: black;
	color: white;
	font: 1.3rem Inconsolata, monospace;
	min-height: 18em;
	max-height: 15em;	
	display: flex;
	flex-direction: column-reverse;
	

	border-color: #b8bcc2;
	border-width: 0.25em;
	border-style: solid;
	overflow: hidden;
	position: fixed;
	bottom: 1em;
	min-width: 50em;
	max-width: 50em;
}

.midi_interfaces {
    float: right;
    display: absolute;
    position: fixed;
    top: 5em;
    right: 5em;
}

body {
	background-color: black;
	color: white;
}

.stage {
	background-image: url("./background.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	min-width: 60em;
	min-height: 25em;		
	margin-left: 40em;
	margin-right: auto;
}

.score {
	background-image: url("./megaman2_intro_bass_notes.jpg");
	background-size: contain;
	background-repeat: no-repeat;	
	min-width: 707px;
	min-height: 399px;
	position: fixed;
	bottom: 1em;
	right: 1em;
	display: none;
}

.redLight {  
  border-radius:50%;
  background:rgba(216,146,120,1);
  color:white;
  width:100px;
  height:100px;
  text-align:center;
  line-height:100px;  
  float: left;
  margin-top: 10em;
  opacity: 0;
}

.greenLight {
  border-radius:50%;
  background:rgba(146,219,190,1);
  color:white;
  width:100px;
  height:100px;
  text-align:center;
  line-height:100px;
  float: left;
  margin-top: 10em;
  opacity: 0;
}

.blueLight {
  border-radius:50%;
  background:rgba(88,119,225,1);
  color:white;
  width:100px;
  height:100px;
  text-align:center;
  line-height:100px;  
  float: left;
  margin-top: 10em;
  opacity: 0;
}